@use "mixin" as *;
@use "variable" as *;

.btn {
  display: inline-flex;
  align-items: center;
  width: 100%;
  min-width: fit-content;
  vertical-align: middle;
  cursor: pointer;
  font-size: 18rem;
  transition: all 0.3s ease-in-out;
  &.primary {
    background-color: $riizeSecondary;
    border: 1px solid $riizeSecondary;
    color: $white;
    &:hover,
    &:active {
      background-color: $riizeSecondaryLight;
      border-color: $riizeSecondaryLight;
    }
    &.outlined {
      background-color: $white;
      border-color: $riizeSecondary;
      color: $riizeSecondary;
      &:hover,
      &:active {
        border-color: $riizeSecondaryLight;
      }
    }
  }
  &.dark {
    background-color: $dark;
    border: 1px solid $dark;
    color: $white;
    &:hover,
    &:active {
      background-color: $darkLight;
      border-color: $darkLight;
    }
    &.outlined {
      background-color: $white;
      border-color: $dark;
      color: $dark;
      &:hover,
      &:active {
        border-color: $darkLight;
      }
    }
  }
  &.melon {
    background-color: $pointMelon;
    border: 1px solid $pointMelon;
    color: $white;

    &:hover,
    &:active {
      opacity: 0.7;
    }

    &.outlined {
      opacity: 0.7;

      &:hover,
      &:active {
        opacity: 0.7;
      }
    }
  }
  &.align {
    &-left {
      justify-content: flex-start;
    }
    &-center {
      justify-content: center;
    }
    &-right {
      justify-content: flex-end;
    }
  }
  &.rounded {
    &-none {
      border-radius: 0;
    }
    &-sm {
      border-radius: 4px;
    }
    &-md {
      border-radius: 8px;
    }
    &-full {
      border-radius: 100%;
      overflow: hidden;
    }
  }
  &.size {
    &-xs {
      padding: 4rem 8rem;
      font-size: 12rem;
      &.rounded-full {
        padding: 0;
      }
    }
    &-sm {
      padding: 8rem 16rem;
      font-size: 14rem;
      &.rounded-full {
        padding: 0;
      }
    }
    &-md {
      padding: 8rem 16rem;
      &.rounded-full {
        padding: 0;
      }
    }
    &-lg {
      padding: 12rem 24rem;
      &.rounded-full {
        padding: 0;
        width: 50rem;
        height: 50rem;
      }
    }
  }
  &.disabled {
    opacity: 0.8;
    cursor: default;
    pointer-events: none;
  }
  &.icon {
    justify-content: flex-start;
    gap: 0 4rem;
    text-align: left;
  }
}

.btn-share {
  width: 40rem;
  height: 40rem;
  color: $riizePrimary;
}
@include tablet() {
  .btn-share {
    width: 24rem;
    height: 24rem;
  }
}

.link-select-wrap {
  position: relative;
  z-index: 10;
  width: 240rem;
  height: 60rem;
  background: $white;
  .txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 12rem;
    text-align: left;
    border: 1px solid $gray900;
    color: $riizePrimary;
    .icon {
      width: 30rem;
      height: 30rem;
      color: $gray500;
      transition: 0.3s ease-out;
    }
  }
  &.active {
    .txt {
      .icon {
        color: $gray800;
        transform: rotate(180deg);
      }
    }
  }
  .link-select {
    width: 100%;
    height: auto;
    margin-top: -1px;
    border: 1px solid $gray900;
    overflow: hidden;
    background: $white;
    .select {
      padding: 12rem;
      cursor: pointer;
      &:hover {
        background: $riizeSecondary;
        color: $white;
      }
    }
    a {
      display: block;
      width: 100%;
      padding: 12rem;
      // height: 30rem;
      &:hover {
        background: $riizeSecondary;
        color: $white;
      }
    }
  }
}

@include tablet() {
  .link-select-wrap {
    width: 140rem;
    height: 36rem;
    .txt {
      .icon {
        width: 20rem;
        height: 20rem;
        color: $gray500;
        transition: 0.3s ease-out;
      }
    }
  }
}

.floating-btn {
  display: flex;
  flex-direction: column;
  gap: 6rem 0;
  // align-items: center;
  // text-align: center;
  // flex-direction: column;
  position: fixed;
  bottom: 80rem;
  right: 10rem;
  z-index: 100;
  width: auto;
  height: auto;
  // padding: 6rem 8rem;
  // border-radius: 10rem;
  // -webkit-box-shadow: 5px 5px 13px -7px #000000;
  // box-shadow: 5px 5px 13px -7px #000000;
  // font-size: 10rem;
  // background: #fff;
  // background: $riizeSecondary;
  color: #fff;
  line-height: 1.2;
  .btn {
    -webkit-box-shadow: 5px 5px 13px -7px #000000;
    box-shadow: 5px 5px 13px -7px #000000;
  }
  img {
    // margin: 0 0 4rem;
    margin: 0 6rem 2rem 0;
    width: 16rem;
    height: auto;
  }
}
