@use "mixin" as *;
@use "variable" as *;

.chart-content {
  flex-grow: 1;
  position: relative;
  width: 100%;
  .chart-wrap {
    display: flex;
    flex-direction: column;
  }
  .chart-list {
    padding: 18rem;
    height: 100%;
    border-bottom: 1px solid $gray400;
    &:nth-child(1) {
      border-top: 1px solid $gray400;
    }
    .cate {
      text-transform: uppercase;
    }
    &.melon .cate {
      color: $pointMelon;
    }
    &.genie .cate {
      color: $pointGenie;
    }
    &.bugs .cate {
      color: $pointBugs;
    }
    &.flo .cate {
      color: $pointFlo;
    }
    &:has(.cate) .chart-box {
      margin-top: 14rem;
    }
    .chart-box {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      // height: 100%;
    }
    .img-wrap {
      flex-shrink: 0;
      width: 80rem;
      height: 80rem;
      background: url("/images/logo/logo.png") no-repeat center / contain #000;
      // height: 80rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .tit {
      margin: 0 0 0 24rem;
      align-self: flex-start;
      @include multiEllipsis(2);
    }
    .rank {
      // display: flex;
      // align-items: flex-end;
      text-align: right;
      .chart {
        text-align: right;
        // width: 54rem;
        margin: 0 0 0 18rem;
      }
    }
    .chart-change {
      display: block;
      margin: 8rem 0 0;
      &::before {
        content: "-";
        margin: 0 6rem 0 10rem;
        font-size: 16rem;
      }
      &.up {
        color: $pointRed;
        &::before {
          content: "▲";
        }
      }
      &.down {
        color: $pointBlue;
        &::before {
          content: "▼";
        }
      }
      &.new {
        &::before {
          content: "";
        }
        @at-root {
          .chart-list.melon {
            .new {
              color: $pointMelon;
            }
          }
          .chart-list.genie {
            .new {
              color: $pointGenie;
            }
          }
          .chart-list.bugs {
            .new {
              color: $pointBugs;
            }
          }
          .chart-list.flo {
            .new {
              color: $pointFlo;
            }
          }
        }

        &::before {
          content: "";
        }
      }
    }
    &.skeleton {
      .img-wrap {
        background: $gray200;
      }

      .tit {
        width: 80%;
        height: 30rem;
        background: $gray200;
      }

      .chart-change {
        &:before {
          content: "";
        }
      }
    }
    .no-data {
      padding: 12rem 0;
    }
  }

}

body:not(:has(main)) .chart-content {
  margin: 12rem 0 60rem;
}

@include tablet() {
  body:has(main) .chart-content {
    width: 320rem;
  }
  .chart-content {
    flex-grow: 1;
    width: 100%;
    .chart-wrap {
      display: flex;
      flex-direction: column;
    }
    .chart-list {
      padding: 12rem;
      height: 100%;
      &:has(.cate) .chart-box {
        margin-top: 8rem;
      }
      .chart-box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        // height: 100%;
      }
      .img-wrap {
        width: 40rem;
        height: 40rem;
      }
      .tit {
        align-self: flex-start;
        @include multiEllipsis(2);
      }
      .rank {
        text-align: right;
        .chart {
          text-align: right;
          // width: 54rem;
          margin: 0 0 0 12rem;
        }
      }
      .chart-change {
        margin: 4rem 0 0;
        &::before {
          margin: 0 4rem 0 8rem;
        }
        &.up {
          color: $pointRed;
          &::before {
            content: "▲";
            font-size: 10rem;
          }
        }
        &.down {
          color: $pointBlue;
          &::before {
            content: "▼";
            font-size: 10rem;
          }
        }
      }
    }
    &.skeleton {
      .tit {
        width: 100%;
        height: 20rem;
        background: $gray200;
      }
      .chart-change {
        &::after {
          content: "";
        }
      }
    }
  }
}