@use "mixin" as *;
@use "variable" as *;

.f-pg-tit {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 40rem;
  font-weight: 700;
  line-height: 1.4;
}
.f-bd1 {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 30rem;
  font-weight: 400;
  line-height: 1.4;
}
.f-bd2 {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 28rem;
  font-weight: 400;
  line-height: 1.4;
}
.f-bd3 {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.4;
}
.f-bd4 {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.4;
}
.f-cp1 {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 18rem;
  font-weight: 300;
  line-height: 1.2;
}
.f-cp2 {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 18rem;
  font-weight: 300;
  line-height: 1.2;
}
.f-cp3 {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 16rem;
  font-weight: 300;
  line-height: 1.2;
}
.-b {
  font-weight: bold;
}
.-m {
  font-weight: 500;
}
.-r {
  font-weight: 400;
}
.-l {
  font-weight: 300;
}

.ta-c {
  text-align: center;
}

.fc-pointRed {
  color: $pointRed;
}
.fc-gray500 {
  color: $gray500;
}
.fc-gray700 {
  color: $gray700;
}

.f-underline {
  text-decoration: underline;
  text-underline-offset: 3px;
}

@include tablet {
  .f-pg-tit {
    font-size: 24rem;
  }
  .f-bdy1 {
    font-size: 20rem;
  }
  .f-bd2 {
    font-size: 18rem;
  }
  .f-bd3 {
    font-size: 16rem;
  }
  .f-bd4 {
    font-size: 14rem;
  }
  .f-cp1 {
    font-size: 14rem;
  }
  .f-cp2 {
    font-size: 14rem;
    font-weight: 300;
  }
  .f-cp3 {
    font-size: 12rem;
  }
}