.nav-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #000;
  .nav-bar {
    @include grid(5, 12px, 0);
    .list {
      text-align: center;
      a {
        display: block;
        padding: 8px 0;
      }
      .icon {
        display: block;
        svg {
          font-size: 28px;
          color: #fff;
        }
      }
      .txt {
        margin: 8px 0 0;
        font-size: 16px;
        color: #fff;
      }
    }
  }
}