@use "mixin" as *;
@use "variable" as *;

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: $headerPcHeight;
  background: $riizePrimary;
  z-index: 20;
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    // padding: 16rem 12rem;
    // width: 100%;
    height: 100%;
  }
  .logo {
    a {
      display: block;
      margin: 0 auto;
      width: 100px;
      aspect-ratio: 2 / 1;
      background-image : url('/images/logo/logo.png');
      font-size: 0;
      background-size : cover;
      background-position : center;
    }
  }
  .btn-menu {
    display: none;
  }
  .all-menu {
    display: none;
  }
  .pc-menu {
    display: flex;
    align-items: center;
    gap: 0 60rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .one-depth {
      // position: relative;
      .one-link {
        display: flex;
        align-items: center;
        padding: 0 8rem;
        height: $headerPcHeight;
        color: $white;
        cursor: pointer;
        &:hover {
          color: $riizeSecondary;
        }
      }
      .one-list {
        position: absolute;
        top: calc($headerPcHeight - 2rem);
        left: 50%;
        width: 100vw;
        height: 0;
        transform: translateX(-50%);
        // width: 100vw;
        // background: #000;
        overflow: hidden;
        &.active {
          height: auto;
        }
      }
      .two-depth {
        display: flex;
        justify-content: center;
        width: 100%;
        background: #000;
        border-top: 0.8px solid $white;
        .two-link {
          display: block;
          padding: 24rem 20rem;
          color: $white;
          &:hover {
            color: $riizeSecondary;
          }
        }
      }
    }
  }
}

@include tablet() {
  .header {
    width: 100%;
    height: $headerMoHeight;
    // .inner {
    //   padding: 16rem 12rem;
    // }
    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100rem;
    }
    .btn-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8rem;
      position: relative;
      width: 36rem;
      height: 36rem;
      i {
        flex-shrink: 0;
        width: 20rem;
        height: 4px;
        background: $white;
        border-radius: 4px;
        transition: opacity .3s ease-out;
      }
      &::before {
        content: "";
        display: block;
        flex-shrink: 0;
        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background: $white;
        transition: top .3s ease-out, left .3s ease-out, transform .3s ease-out;
      }
      &::after {
        content: "";
        flex-shrink: 0;
        display: block;
        position: absolute;
        top: 28rem;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background: $white;
        transition: top .3s ease-out, left .3s ease-out, transform .3s ease-out;
      }
      &.active {
        i {
          opacity: 0;
        }
        &::before {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        &::after {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
      // svg {
      //   font-size: 40rem;
      //   color: #fff;
      // }
    }
    .pc-menu {
      display: none;
    }
    .all-menu {
      display: block;
      position: fixed;
      top: $headerMoHeight;
      // left: -100%;
      left: 0;
      width: 100%;
      height: calc(100dvh - 60rem);
      background: #fff;
      .scroll-area {
        padding: 24rem;
        width: 100%;
        height: 100%;
        overflow-y: auto;
      }
      .one-depth {
        .one-list {
          &.active {
            border-bottom: 1px solid $gray300;
            .one-link {
              border-bottom: 1px solid $gray300;
              color: $riizeSecondary;
              .open-two-depth {
                &::before {
                  content: "";
                  display: block;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 20rem;
                  height: 4px;
                  border-radius: 4px;
                  background: $riizeSecondary;
                }
                &::after {
                  content: "";
                  display: block;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) rotate(-90deg);
                  width: 4px;
                  height: 20rem;
                  border-radius: 4px;
                  background: $riizeSecondary;
                }
              }
            }
          }
        }
        .one-link {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 12rem 0;
          width: 100%;
          text-align: left;
          font-size: 24rem;
          font-weight: 700;
          transition: color .3s ease-out;
          &:hover {
            color: $riizeSecondary;
            .open-two-depth {
              &::before, &:after {
                background: $riizeSecondary;
              }
            }
          }
          .open-two-depth {
            display: block;
            flex-shrink: 0;
            position: relative;
            width: 40rem;
            height: 40rem;
            &::before {
              content: "";
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 20rem;
              height: 4px;
              border-radius: 4px;
              background: $riizePrimary;
              transition: background .3s ease-out;
            }
            &::after {
              content: "";
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 4px;
              height: 20rem;
              border-radius: 4px;
              background: $riizePrimary;
              transition: transform .3s ease-out, background .3s ease-out;
            }
          }
        }
      }
      .two-depth {
        overflow: hidden;
        .two-list:hover {
          .two-link {
            color: $riizeSecondary;
          }
        }
        .two-link {
          display: block;
          padding: 12rem 0;
          width: 100%;
          font-size: 20rem;
          color: $gray500;
          font-weight: 300;
        }
      }
    }
  }
}