@use "mixin" as *;
@use "variable" as *;

main {
  flex: 1;
  padding-bottom: 80rem;
  section+section {
    margin: 80rem 0 0;
  }
  .sc-chart {
    .tit-area {
      display: flex;
      align-items: flex-end;
    }
    .chart-time {
      display: block;
      margin: 0 0 0 24rem;
      color: $gray500;
    }
    .chart-container {
      width: 100%;
    }
    .chart-swiper {
      .scroll-area {
        width: 1240rem;
        margin: 0 auto;
        // padding: 0 240rem 24rem 240rem;
        @include grid(2, 48rem, 0);
        overflow-x: scroll;
      }
    }
  }
  .sc-oneclick {
    .container {
      width: 100%;
      .box {
        width: 100%;
        border-radius: 20rem;
        background: $gray100;
        transition: background .3s ease-out;
        i {
          display: block;
          padding: 28rem;
          margin: 0 auto;
          width: 72rem;
          height: 72rem;
          text-align: center;
          color: $riizePrimary;
        }
        &:hover {
          background: $gray50;
        }
      }
      .txt {
        margin: 18rem 0 0;
        text-align: center;
        color: $riizePrimary;
      }
      .oneclick-list {
        @include grid(5, 48rem, 24rem);
        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 10rem;
          transition: background .3s ease-out;
          border-radius: 8rem;
          cursor: pointer;
          &:hover {
            background: $gray50;
          }
          .img-wrap {
            font-size: 0;
            img {
              width: 100%;
              max-width: 100px;
              height: auto;
            }
          }
        }
      }
    }
  }
  .sc-todolist {
    .todolist-wrap {
      padding: 40rem;
      border: 1px solid $gray400;
      border-radius: 12rem;
      .list {
        &+.list {
          margin: 28rem 0 0;
        }
      }
    }
    .input-wrap {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      position: relative;

      input[type="checkbox"] {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        overflow: hidden;

        &~.checkbox {
          flex-shrink: 0;
          margin: 2rem 0 0;
          width: 30rem;
          height: 30rem;
          border-radius: 6rem;
          border: 1px solid $gray900;
        }

        &~label {
          position: relative;
          color: $riizePrimary;
          // &::after {
          //   content: "";
          //   position: absolute;
          //   top: 50%;
          //   left: 0;
          //   transform: translate(0, -50%);
          //   width: 0;
          //   height: 4px;
          //   background: $riizeSecondary;
          //   transition: width .3s ease-out;
          // }
        }
        &:checked~label {
          text-decoration: line-through;
          text-decoration-color: $riizeSecondary;
          &::after {
            width: 100%;
          }
        }
      }
      label {
        margin: 0 0 0 12rem;
        cursor: pointer;
      }
    }
  }
  .swiper-banner {
    margin-bottom: 80rem;
    .banner-slide {
      position: relative;
      display: block;
      margin: 0 auto;
      max-width: 1280px;
      aspect-ratio: 16 / 9;
      &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100rem;
        z-index: 1;
      }
      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
      &-text {
        position: absolute;
        top: 20rem;
        right: 50rem;
        span {
          overflow: hidden;
          opacity: 0;
          display: block;
          padding: 0 20rem;
          color: $white;
          font-size: 80rem;
          font-weight: 900;
          font-style: italic;
          transition: all .3s ease-out;
          animation: text-in 1s forwards;
          &+span {
            animation-delay: 1s;
          }
        }
      }
    }
    .swiper-pagination {
      bottom: 20rem;
      &-bullet {
        background-color: transparent;
        border: 1px solid $white;
        &-active {
          background-color: $white;
        }
      }
    }
    .bg-bbb {
      background-color: $black;
      .banner-slide{
        &::before {
          background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1));
        }
        &::after {
          background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
        }
      }
    }
  }
}

@keyframes text-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@include tablet() {
  main {
    padding-bottom: 40rem;
    section + section {
      margin: 40rem 0 0;
    }
    .sc-chart {
      .tit-area {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
      }
      .chart-time {
        display: block;
        margin: 6rem 0 0;
        color: $gray500;
        font-weight: 300;
      }
      .chart-container {
        width: 100%;
      }
      .chart-swiper {
        .scroll-area {
          padding: 0 24rem 12rem 24rem;
          width: 100%;
          @include grid(2, 24rem, 0);
          overflow-x: scroll;
        }
      }
    }
    .sc-oneclick {
      .container {
        width: 100%;
        .box {
          width: 100%;
          border-radius: 20rem;
          i {
            padding: 14rem;
            width: 36rem;
            height: 36rem;
          }
        }
        .txt {
          margin: 12rem 0 0;
        }
        .oneclick-list {
          @include grid(3, 24rem, 12rem);
        }
      }
    }
    .sc-todolist {
      .todolist-wrap {
        padding: 20rem;
        border-radius: 8rem;
        .list {
          & + .list {
            margin: 18rem 0 0;
          }
        }
      }
      .input-wrap {
        display: flex;
        // align-items: center;
        position: relative;
        input[type="checkbox"] {
          position: absolute;
          top: 0;
          left: 0;
          width: 20rem;
          height: 20rem;
          cursor: pointer;
          & ~ .checkbox {
            width: 20rem;
            height: 20rem;
            border-radius: 6rem;
          }
          & ~label {
            position: relative;
            // &::after {
            //     content: "";
            //     position: absolute;
            //     top: 50%;
            //     left: 0;
            //     transform: translate(0, -50%);
            //     width: 0;
            //     height: 2px;
            //     background: $riizeSecondary;
            //   }
          }
          &:checked ~ label {
            &::after {
              width: 100%;
            }
          }
        }
        label {
          margin: 0 0 0 8rem;
          cursor: pointer;
        }
      }
    }
    .swiper-banner {
      margin-bottom: 40rem;
      .banner-slide {
        &::before, &::after {
          display: none;
        }
        &-text {
          top: 10rem;
          right: 10rem;
          span {
            padding: 0 10rem;
            font-size: 20rem;
          }
        }
      }
    }
  }
}