html {
  width: 100%;
  height: 100%;
  /*font-size: 0.6vw;*/
}

body {
  position: relative;
  // min-width: 1400px;
  height: 100%;
  font-family: "Malgun Gothic", "Apple SD Gothic Neo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  letter-spacing: -.5px;
  word-break: keep-all;
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
}

body,
header,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
p,
form,
fieldset,
table,
tr,
th,
td,
a,
input,
span,
section,
article,
figure,
label,
footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
  letter-spacing: -.2px;
}

ul,
ol,
li {
  list-style: none;
}

img,
fieldset {
  border: none;
  vertical-align: top;
}

em {
  font-style: normal;
}

legend,
caption {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: transparent;
  width: 0;
  height: 0;
  text-indent: -9999px;
}

textarea,
button {
  vertical-align: middle;
  font-family: "Malgun Gothic", "Apple SD Gothic Neo", sans-serif;
  letter-spacing: -.5px;
  outline: 0;
}

textarea {
  color: #222;
  resize: none;
  overflow-y: auto;
  -ms-overflow-style: auto;
  box-sizing: border-box;
}

select {
  font-family: "Malgun Gothic", "Apple SD Gothic Neo", sans-serif;
  font-weight: 600;
  vertical-align: middle;
  letter-spacing: -1px;
  border: 0;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

select::-ms-expand {
  display: none;
}

input,
textarea {
  font-family: "Malgun Gothic", "Apple SD Gothic Neo", sans-serif;
  // vertical-align: middle; border: 0; background: transparent; -webkit-appearance: none; appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
}

option {
  padding: 10px;
}

/* input[type="text"], input[type="password"] {outline: 0;} */
input[type="radio"],
input[type="checkbox"] {
  padding: 0;
  height: auto;
  font-size: 18px;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
}

input[type=text]::-ms-clear {
  display: none;
}

input {
  &::-webkit-input-placeholder {
    font-family: "Malgun Gothic", "Apple SD Gothic Neo", sans-serif;
  }

  &::-ms-input-placeholder {
    font-family: "Malgun Gothic", "Apple SD Gothic Neo", sans-serif;
  }

  &::placeholder {
    font-family: "Malgun Gothic", "Apple SD Gothic Neo", sans-serif;
  }

  &[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &:focus:-ms-input-placeholder {
    color: transparent;
  }

  &:focus::-ms-input-placeholder {
    color: transparent;
  }

  &:focus::placeholder {
    color: transparent;
  }

  outline: 0;
}

textarea {
  &::-webkit-input-placeholder {
    font-family: "Malgun Gothic", "Apple SD Gothic Neo", sans-serif;
  }

  &:-ms-input-placeholder {
    font-family: "Malgun Gothic", "Apple SD Gothic Neo", sans-serif;
  }

  &::-ms-input-placeholder {
    font-family: "Malgun Gothic", "Apple SD Gothic Neo", sans-serif;
  }

  &::placeholder {
    font-family: "Malgun Gothic", "Apple SD Gothic Neo", sans-serif;
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &:focus:-ms-input-placeholder {
    color: transparent;
  }

  &:focus::-ms-input-placeholder {
    color: transparent;
  }

  &:focus::placeholder {
    color: transparent;
  }

  outline: 0;
}

a {
  text-decoration: none;
  color: inherit;
  outline: 0;

  &a:hover,
  &a:focus,
  &a:active {
    text-decoration: none;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

button {
  overflow: visible;
  padding: 0;
  margin: 0;
  font-size: 14px;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  background: none;

  &:active {
    outline: none;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
  position: relative;
}

body:has(.mobile) {
  min-width: unset;
}