@use "mixin" as *;
@use "variable" as *;

.sub-container {
  flex: 1;
  position: relative;
  padding: 160rem 0 0;
  .tit-area {
    position: relative;
    margin: 0 auto 80rem auto;
    .link-select-wrap {
      position: absolute;
      top: 0;
      right: 100rem;
      & > button {
        text-transform: uppercase;
      }
    }
    z-index: 6;
    .btn-share {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .box-tab-area {
    width: 100%;
  }
  .sc-down-guide {
    .img-wrap {
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
      & +.img-wrap {
        margin: 80rem 0 0;
      }
    }
    .video-wrap {
      margin: 0 auto;
      width: 80%;
      video {
        width: 100%;
      }
    }
    .no-data {
      .img-wrap {
        width: 100rem;
      }
    }
  }
  .chart-time {
    margin: 60rem 0 0;
    color: $gray500;
  }
  .btn ~ .img-wrap {
    margin-top: 20rem;
  }
  .guide-btn-wrap{
		display: flex;
		flex-direction: column;
		gap: 10rem;
    margin: 50rem 0 100rem;
  }
  .page-division {
    display: flex;
    gap: 0 100rem;

    .half {
      width: 50%;
    }
  }
  .sc-shortcut {
    margin: 0 0 120rem;
    .page-division {
      margin: 80rem 0 0;
    }
    .half {
      position: relative;
      &:nth-child(1)::after {
          content: "";
          position: absolute;
          top: 0; 
          right: -50rem;
          width: 1px;
          height: 100%;
          background: $gray300;
          // border-right: 1px solid $gray300;
        }
        .half-tit {
          font-weight: 500;
        }
        .half-txt {
          margin: 12rem 0 24rem;
        }
        .img-wrap {
          width: 80%;
          img {
            width: 100%;
            height: auto;
          }
        }
    }
  }
}

@include tablet() {
  .sub-container {
    padding: 80rem 0 0;
    .tit-area {
      margin: 0 auto 40rem auto;

    }
    .sc-shortcut {
      .page-division {
 video       .img-wrap {
            width: 100%;
          }
      }
    }
  }
}

@include mobile() {
  .sub-container {
    .tit-area {
      .link-select-wrap {
        position: relative;
        top: 0;
        right: 0;
        margin: 12rem 0 0;
      }
    }
    .box-tab-area {
      // margin: 80rem auto 0;
      width: 100%;
    }
    .sc-down-guide {
      .img-wrap {
        & +.img-wrap {
          margin: 40rem 0 0;
        }
      }
      .video-wrap {
        width: 100%;
      }
      .no-data {
        .img-wrap {
          width: 80rem;
        }
      }
    }
    .page-division {
      flex-direction: column;
      gap: 80rem 0;
      .half {
        width: 100%;
      }
    }
    .sc-shortcut {
      .page-division {
        margin: 40rem 0 0;
        .half:nth-child(1) {
          &::after {
            top: calc(100% + 40rem);
            right: 0;
            transform: translate(0, 0);
            width: 100%;
            height: 1px;
          }
        }
      }
    }
  }
}
