@use "mixin" as *;
@use "variable" as *;

.sub-container {
  flex: 1;
  padding: 160rem 0 0;
  .tit-area {
    position: relative;
    margin: 0 auto 80rem auto;
    .link-select-wrap {
      position: absolute;
      top: 0;
      right: 100rem;
      & > button {
        text-transform: uppercase;
      }
    }
    z-index: 6;
    .btn-share {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .box-tab-area {
    width: 100%;
  }
  .sc-down-guide {
    .img-wrap {
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .no-data {
    min-height: calc(100vh - 500rem);
    text-align: center;
    color: $gray500;

    .img-wrap {
      margin: 0 auto;
      width: 240rem;

      svg {
        stroke-width: 0.6;
      }
    }
  }
  .chart-time {
    color: $gray500;
  }
  .btn ~ .img-wrap {
    margin-top: 20rem;
  }
  .guide-btn-wrap{
    margin: 50rem 0 100rem;
  }
}

@include tablet() {
  .sub-container {
    padding: 80rem 0 0;
    .tit-area {
      margin: 0 auto 40rem auto;

    }
    .no-data {
      .img-wrap {
        width: 140rem;
      }
    }
  }
}

@include mobile() {
  .sub-container {
    .tit-area {
      .link-select-wrap {
        position: unset;
        margin: 12rem 0 0;
      }
    }
    .box-tab-area {
      // margin: 80rem auto 0;
      width: 100%;
    }
  }
}