@use "mixin" as *;
@use "variable" as *;

.box-tab-area {
  z-index: 5;
  background: $white;
  &.sticky {
    position: sticky;
    top: $headerPcHeight;
    left: 0;
  }
  .tabs {
    display: flex;
    justify-content: center;
    &:has(.box) {
      gap: 12rem;
      padding: 8rem 12rem;
    }
    &:not(:has(.scroll-x-active)) {
      flex-wrap: wrap;
    }
  }
  .tabs-wrap {
    display: flex;
    justify-content: center;
  }
  &:has(.tab-btn.outlined) {
    background: $white;
    border-top: 1px solid $gray100;
    border-bottom: 1px solid $gray100;
    .tab-btn {
      &.active {
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 60%;
          height: 2px;
          background: $riizeSecondary;
        }
      }
    }
  }
  &:has(.tab-btn.box) {
    margin-bottom: 10rem;
    .tab-btn {
      border: 1px solid $riizeSecondary;
      background: $white;
      border-radius: 40rem;
      color: $riizeSecondary;
      transition: all 0.3s ease-in-out;
      &:hover {
        background: $riizeSecondary;
        color: $white;
      }
      &.active {
        background: $riizeSecondary;
        color: $white;
      }
    }
  }
  .tab-btn {
    position: relative;
    color: $black;
    &.lg {
      button {
        padding: 24rem 64rem;
        font-size: 24rem;
      }
    }
    &.md {
      button {
        padding: 16rem 56rem;
        font-size: 18rem;
      }
    }
    &.sm {
      button {
        padding: 14rem 52rem;
        font-size: 16rem;
      }
    }
    button {
      display: block;
      width: 100%;
      color: inherit;
      font-weight: 500;
    }
  }
}
.tab-panels {
  margin: 120rem 0;
  width: 100%;
  .tab-panel {
    display: none;
    width: 100%;
    &.active {
      display: block;
    }
  }
}

@include tablet() {
  .box-tab-area {
    &.sticky {
      top: $headerMoHeight;
    }
    .tabs {
      &:has(.box) {
        gap: 8rem;
      }
    }
    .tab-btn {
      &.lg {
        button {
          padding: 20rem 28rem;
          font-size: 16rem;
        }
      }
      &.md {
        button {
          padding: 12rem 20rem;
          font-size: 14rem;
        }
      }
      &.sm {
        button {
          padding: 8rem 12rem;
          font-size: 12rem;
        }
      }
      button {
        display: block;
        width: 100%;
        color: inherit;
        font-weight: 500;
        line-height: 1;
      }
    }
  }
  .tab-panels {
    margin: 60rem 0;
  }
}

@include mobile() {
  .box-tab-area {
    .tabs {
      justify-content: flex-start;
      padding: 0 24rem 0 24rem;
    }
  }
}