@use "mixin" as *;
@use "variable" as *;

.box-tab-area {
  z-index: 5;
  background: $white;
  &.sticky {
    position: sticky;
    top: $headerPcHeight;
    left: 0;
  }
  .tabs {
    display: flex;
    justify-content: center;
    width: fit-content;
    max-width: 100%;
    // overflow: visible;
    &:has(.box) {
      gap: 12rem;
      padding: 8rem 12rem;
    }
  }
  .tabs-wrap {
    .swiper-slide {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      // margin: 0 20rem 0 0;
      min-height: 80rem;
    }
  }
  &:has(.tab-btn.outlined) {
    background: $white;
    border-top: 1px solid $gray100;
    border-bottom: 1px solid $gray100;
    .swiper-slide:has(.active) {
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        height: 2px;
        background: $riizeSecondary;
      }
    }
  }
  &:has(.tab-btn.box) {
    margin-bottom: 10rem;
    .swiper-slide {
      min-height: auto;
    }
    .tab-btn {
      border: 1px solid $riizeSecondary;
      background: $white;
      border-radius: 40rem;
      color: $riizeSecondary;
      transition: all 0.3s ease-in-out;
      &:hover {
        background: $riizeSecondary;
        color: $white;
      }
      &.active {
        background: $riizeSecondary;
        color: $white;
      }
    }
  }
  .tab-btn {
    position: relative;
    color: $black;
    display: block;
    width: 100%;
    color: inherit;
    font-weight: 500;
    &.lg {
      // padding: 24rem 30rem;
      font-size: 24rem;
    }
    &.md {
      padding: 16rem 56rem;
      font-size: 18rem;
    }
    &.sm {
      padding: 14rem 52rem;
      font-size: 16rem;
    }
    // .btn {
    //   display: block;
    //   width: 100%;
    //   color: inherit;
    //   font-weight: 500;
    // }
  }
}
.tab-panels {
  margin: 120rem 0;
  width: 100%;
  .tab-panel {
    display: none;
    width: 100%;
    &.active {
      display: block;
    }
  }
}

@include tablet() {
  .box-tab-area {
    &.sticky {
      top: $headerMoHeight;
    }
    .tabs {
      &:has(.box) {
        gap: 8rem;
      }
    }
    .tabs-wrap {
      .swiper-slide {
        min-height: 50rem;
      }
    }
    .tab-btn {
      display: block;
      width: 100%;
      color: inherit;
      font-weight: 500;
      line-height: 1;
      &.lg {
        // padding: 20rem 0;
        font-size: 16rem;
      }
      &.md {
        padding: 12rem;
        font-size: 14rem;
      }
      &.sm {
        padding: 8rem;
        font-size: 12rem;
      }
      // .btn {
      //   display: block;
      //   width: 100%;
      //   color: inherit;
      //   font-weight: 500;
      //   line-height: 1;
      // }
    }
  }
  .tab-panels {
    margin: 60rem 0;
  }
}

@include mobile() {
  .box-tab-area {
    .tabs {
      padding: 0 24rem 0 24rem;
      &.wrap {
        flex-wrap: wrap;
      }
      .tab-btn.outlined {
				flex: 0 0 auto;
        // padding: 20rem 0;
				min-width: 22%;
      }
    }
  }
}