@use "reset" as *;
@use "variable" as *;
@use "mixin" as *;
@use "fonts" as *;
@use "button" as *;
@use "tab" as *;
@use "accordion" as *;
@use "header" as *;
@use "footer" as *;
@use "modal" as *;
@use "chart" as *;
@use "main" as *;
@use "sub" as *;

@include tablet {
  html {
    font-size: 0.13vw;
  }
}

@include mobile {
  html {
    font-size: 0.256vw;
  }
  #subPage {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

.pg-prelunch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  background: $black;
  h1 {
    color: $white;
  }
}

body:has(.header .btn-menu.active) {
  overflow-y: hidden;
}

body:has(.modal-wrap) {
  overflow-y: hidden;
}

// .scroll-x-active {
//   overflow-x: auto;
//   &::-webkit-scrollbar {
//     width: 0;
//     height: 0;
//   }
// }
.nav-bar {
  display: none;
}

.inner {
  position: relative;
  margin: 0 auto;
  width: 1240rem;
}
.guide-inner {
  position: relative;
  margin: 0 auto;
  width: 940rem;
}
.inner-wide {
  margin: 0 auto;
  width: 1240rem;
}
.tit-area {
  margin: 0 0 32rem;
  .noti {
    display: block;
    margin: 12rem 0 0;
    color: $gray500;
  }
}

.page-sub-txt {
  margin: 14rem 0 0;
  color: $gray600;
}

.update-date {
  display: block;
  margin: 8rem 0 0;
  color: $gray500;
}

body header .btn-menu:has(.active) {
  overflow-y: hidden;
}

//not-found
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  gap: 50rem;
  text-align: center;
  p {
    font-size: 50rem;
  }
  .btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }
}

.comming-soon {
  min-height: 40vh;
  min-height: 40dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10rem;
  .icon {
    i {
      display: block;
      margin: 0 auto;
      width: 100rem;
      height: 100rem;
      color: $pointRed;
    }
  }
  .txt {
    margin: 40rem 0 0;
  }
}
.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 40vh;
  min-height: 40dvh;
  text-align: center;
  color: $gray500;
  gap: 10rem;
  .img-wrap {
    margin: 0 auto;
    width: 100rem;
    svg {
      stroke-width: 0.6;
    }
  }
  .txt {
    white-space: pre-wrap;
  }
}

@include tablet() {
  .nav-bar {
    display: flex;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    align-items: center;
    background: $white;
    a {
      display: block;
      padding: 12rem 0;
      width: calc(100% / 5);
      text-align: center;
      font-size: 14rem;
      &.active {
        color: $riizeSecondary;
      }
    }
    .nav-icon {
      display: block;
      width: 24rem;
      margin: 0 auto;
    }
  }
  .inner-wide {
    width: 100%;
  }
  .inner {
    margin: 0 auto;
    width: calc(100% - 48rem);
  }
  .guide-inner {
    margin: 0 auto;
    width: calc(100% - 48rem);
  }
  .tit-area {
    margin: 0 0 18rem;
    // text-align: center;
  }
  .page-tit {
    font-size: 24rem;
    font-weight: 700;
  }
  .not-found {
    p {
      font-size: 30rem;
    }
  }
  .comming-soon{
    .icon {
      i {
        width: 60rem;
        height: 60rem;
      }
    }
  }
  .no-data {
    .img-wrap {
      width: 80rem;
    }
  }
}

.bullet-list {
  .list {
    position: relative;
    padding: 0 0 0 12rem;
    &::before {
      content: "";
      position: absolute;
      top: 10rem;
      left: 0;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background: #000;
    }
    & + .list {
      margin: 4rem 0 0;
    }
  }
}