@import "tailwindcss";

@theme {
  --color-primary: #FF9923;
  --color-primary-light: #FFA743;
  --color-dark: #222;
  --color-dark-light: #3d3d3d;
  --spacing: 1px;
}

html {
  -webkit-tap-highlight-color: transparent;
  --font-pretendard: 'Pretendard Variable', Pretendard, -apple-system,
  BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
  'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

body {
  font-family: var(--font-pretendard);
}
